body {
  background-color: #fff; }

.contact-info {
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 0px;
  border: 1px solid orange; }

.contact-info > li {
  display: flex;
  margin: 0px 20px; }

#search-form-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap; }

.time {
  text-align: center;
  font-size: 20px;
  min-width: 150px;
  max-width: 150px;
  display: flex;
  flex-direction: column; }

.input1, .input2, .input3 {
  display: block;
  margin-bottom: 2px; }

.telephone {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center; }

.telephone i {
  font-size: 30px; }

.telephone a {
  display: block; }

.telephone ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 0px;
  padding: 0px 20px; }

.form-feedback input {
  width: 60%; }

.col-md-6 > img {
  margin-top: 15px; }
